@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

/* General Styling */
body {
  background-color: white;
  color: black; /* Changed from #bb1a1a */
  font-family: "Roboto";
  font-weight: 200;
}

.navbar {
  background-color: #bb1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarbottom {
  background-color: #ffffff;
  color: #bb1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  
}

.app-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: black; /* Ensure text is black */
}

.pageTitle {
  font-size: 1.5rem;
}

.pageName {
  font-size: 1.5rem;
}

.username {
   font-size: 1.125rem;
}

.link {
  font-size: 1.125rem;
  margin-left: 3%;
  margin-right: 3%;

  color: black; /* Override red from body */
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.button {
  background-color: #bb1a1a;
  color: white;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
.secondaryButton {
  background-color: #5d1616;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
.secondaryButton:hover {
  background-color: #481010;
}

.button:hover {
  background-color: #711010;
}

.loginBox {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminTable {
   width: 60%;
   justify-content: center;
}

button {
  width: 30%;
  max-width: 20rem;
}

/* Link Styling */
a {
  color: #bb1a1a;
  text-decoration: underline;
}

.table-header {
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: underline;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 0.75rem 2rem; /* Increases horizontal spacing */
  text-align: left;
}

/* Footer Navigation */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #fee2e2;
  padding: 1rem;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.footer button {
  background-color: #bb1a1a;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.modalStyle {
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: rgb(24, 24, 24);
  border-width: 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
